// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: Wargames, Consolas, Futura, sans-serif;
$base-font-weight: $regular;
$base-font-size: 48;
$base-line-height: 72;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

@font-face {
    font-family: 'Wargames';
    src: url('../../assets/fonts/wargames.woff2') format('woff2'), 
         url('../../assets/fonts/wargames.woff') format('woff'),
         url('../../assets/fonts/wargames.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
}

ol, ul {
    padding-left: rem-calc(30);
}

@import 'modules/all';
