.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;

    .board {

        .row {

            .square {
                background: black;
                border: rem-calc(1) solid green;
                float: left;
                font-family: Wargames;
                font-size: rem-calc($base-font-size);
                color: green;
                line-height: rem-calc($base-line-height);
                height: rem-calc($base-line-height);
                width: rem-calc($base-line-height);
                padding: rem-calc(7) rem-calc(19);
            
                &:nth-child(1) {
                    border-left: none;
                }
            
                &:nth-child(3) {
                    border-right: none;
                }

                &:focus {
                    outline: none;
                }

                .diagional-right {
                    border-left: rem-calc(3) solid green;
                    height: rem-calc(100);
                    width: rem-calc($base-line-height);
                    transform: rotate(45deg);
                    transform-origin: 45% 58%;
            
                    .reset {
                        height: rem-calc($base-line-height);
                        transform: rotate(-45deg);
                        transform-origin: 58% 117%;
                    }
                }
            
                .diagional-left {
                    border-right: rem-calc(3) solid green;
                    height: rem-calc(100);
                    width: rem-calc($base-line-height);
                    transform: rotate(-45deg);
                    transform-origin: 24% 108%;
            
                    .reset {
                        transform: rotate(45deg);
                        transform-origin: 38% 119%;
                    }
                }
            
                .vertical {
                    border-left: rem-calc(3) solid green;
                    line-height: rem-calc($base-line-height);
                    height: rem-calc($base-line-height);
                    width: rem-calc($base-line-height);
                    transform: translate(20%,-10%);
            
                    .reset {
                        transform: translate(-50%,10%);
                    }
                }
            
                .horizontal {
                    border-top: rem-calc(3) solid green;
                    height: rem-calc($base-line-height);
                    width: rem-calc($base-line-height);
                    margin-left: rem-calc(-6);
                    transform: translate(-18%,35%);
            
                    .reset {
                        transform: translate(0%,-41%);
                    }
                }
            }

            &:nth-child(1) {
                .square {
                    border-top: none;
                }
            }

            &:nth-child(3) {
                .square {
                    border-bottom: none;
                }
            }
        }
    }

    .result {
        font-family: Wargames;
        font-size: rem-calc(48);
        color: green;
        height: rem-calc(48);
        padding: rem-calc(20) 0 0;
    }
}

.controls {
    display: flex;
    justify-content: center;
    transform: translateY(-400%);

    .undo, .reset, .redo {
        background: black;
        line-height: rem-calc(72);
        font-size: rem-calc(72);
        color: green;
        font-weight: 200;
        border: none;
        outline: none;

        &:disabled {
            color: grey;
            cursor: not-allowed;
        }
    }

    .undo::after {
        content: '\2039';
    }

    .reset::after {
        content: '\21bb';
        padding: 0 rem-calc(50);
    }

    .redo::after {
        content: '\203a';
    }
}  

